@model CreateTag


<div class="col-xl ">
    <div class="card mb-4 m-auto" style="margin-top:60px !important;width:60%;">

        <div class="card-body ">
            <form method="post" asp-action="create">
                <div class="mb-3" style="">
                    <label class="form-label" asp-for="Name">Tag Name</label>
                    <input type="text" asp-for="Name" class="form-control" id="basic-default-fullname" placeholder="Hot" />
                    <span asp-validation-for="Name"></span>
                </div>

                <button type="submit" class="btn btn-primary">Send</button>
                <a style="margin-left:15px; color:black;" class="btn btn-gray" asp-action="index">Cancel</a>
            </form>
        </div>
    </div>
</div>

@section Validation{
    @Html.Partial("_ValidationScript")
}
