<div id="site-main" class="site-main">
	<div id="main-content" class="main-content">
		<div id="primary" class="content-area">
			<div id="title" class="page-title">
				<div class="section-container">
					<div class="content-title-heading">
						<h1 class="text-title-heading">
							Login / Register
						</h1>
					</div>
					<div class="breadcrumbs">
						<a asp-action="index" asp-controller="home">Home</a><span class="delimiter"></span>Login / Register
					</div>
				</div>
			</div>

			<div id="content" class="site-content" role="main">
				<div class="section-padding">
					<div class="section-container p-l-r">
						<div class="page-login-register" style="margin-bottom:30px;">
							<div class="d-flex justify-content-center align-center">

								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="box-form-login">
										
										<div class="box-content">
											<div class="form-register">
												<h2 class="register">Please check your email for the verification action.</h2>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- #content -->
		</div><!-- #primary -->
	</div><!-- #main-content -->
</div>