@model Product

<div class="col-xl">
    <div class="card mb-4" style="margin:30px;">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Product Create</h5> 
        </div>
        <div class="card-body">
            <form asp-action="create" method="post"> 
                <div class="mb-3">
                    <label class="form-label" asp-for="Name">Product Name</label>
                    <input type="text" class="form-control" id="basic-default-fullname" asp-for="Name" placeholder="Kunc divani">
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Description">Description</label>
                    <textarea id="basic-default-message" class="form-control" asp-for="Description" placeholder="Please write about product"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="CostPrice">Cost Price</label>
                    <input type="number" class="form-control" id="basic-default-company" asp-for="CostPrice" placeholder="Cost Price">
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="SalePrice">Sale Price</label>
                    <input type="number" class="form-control" id="basic-default-company" asp-for="SalePrice" placeholder="Sale Price">
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="DiscountPercent">Discount Percent</label>
                    <input type="number" class="form-control" id="basic-default-company" asp-for="DiscountPercent" placeholder="Discount Percent">
                </div>
                <div class="d-flex justify-content-between">
                <div class="mb-3" style="width:30%;">
                    <label asp-for="CategoryId" class="form-label">Category Select</label>
                    <select class="form-select" asp-for="CategoryId" asp-items="new SelectList(ViewBag.Categories,nameof(Category.Id),nameof(Category.Name))" id="exampleFormControlSelect1" aria-label="Default select example">
                       
                        
                    </select>
                </div>
         @*       <div class="mb-3" style="width:30%;">
                    <label asp-for="Category" class="form-label">Material Select</label>
                    <select class="form-select" asp-for="MaterialId" asp-items="new SelectList(ViewBag.Materials,nameof(Material.Id),nameof(Material.Name))" id="exampleFormControlSelect1" aria-label="Default select example">
                        <option selected="">Open this select menu</option>

                    </select>
                </div>*@
                   @* <div class="mb-3" style="width:30%;">
                        <label asp-for="Category" class="form-label">Category Select</label>
                        <select class="form-select" asp-for="CategoryId" asp-items="new SelectList(ViewBag.Categories,nameof(Category.Id),nameof(Category.Name))" id="exampleFormControlSelect1" aria-label="Default select example">
                            <option selected="">Open this select menu</option>

                        </select>
                    </div>*@
                </div>
                
                
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</div>